body{
    height: 100%;
    width: 100%;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h2{
    padding-top: 25px;
    text-align: center;
}
h4{
    padding: 20px 0 25px 0;
    text-align: center;
}
.gradient{
    height:100%;
    width: 100%;
}
.container .reports .btn-warning{
    margin-top: 8px;
}
.reports{
    background-color: rgba(00, 00, 00, 0.25);
    margin-top: 15px;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
}
.container a{

    margin-bottom: 10px;
}
.details{
    width: 40%;
}
.user-report{
    display: inline;
}